<ion-header>
  <ion-toolbar>
    <ion-title>
      Notice App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/notice.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Notice App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>You can get all your notices about your institue.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Navigation</ion-label>
      </ion-list-header>
      <ion-item routerLink="/tabs/tabs/tab1">
        <ion-icon slot="start" color="medium" name="arrow-forward"></ion-icon>
        <ion-label>All Notices</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="arrow-forward"></ion-icon>
        <ion-label>Student Notices</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="arrow-forward"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-item>
    </ion-list>
</ion-content>